# Object files
*.o
*.so
*.ko
*.pyc

# Libraries
*.lib
*.a
*.la
*.pc
*.dll.a

# Shared objects (inc. Windows DLLs)
*.so.*
*.lo

# Executables
src/fty-info_selftest
src/fty-info
src/fty_info_selftest
core

# Generated Debian files
packaging/debian/.debhelper/
packaging/debian/debhelper-build-stamp
packaging/debian/files
packaging/debian/*.substvars
packaging/debian/*.debhelper
packaging/debian/fty-info/

# Distcheck workspace and archives
fty-info-*/
fty-info-*.tar.gz
fty-info-*.zip

# CMake cache
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
DartConfiguration.tcl
install_manifest.txt
Testing/

# Valgrind files
callgrind*
vgcore*

# Build directory
build/

# Temporary files
*.swp
*.bak
.test*

# CMake in general
builds/cmake/
*.cmake
obj-x86_64-linux-gnu/

